body {

    background-image: url("../MiWebEnGithub/images/fondoIndex.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;

    h1 {
        color: white;
        background-color: rgb(3, 81, 3);
    }

    img{
        border: 10px black;
        border-radius: 25px;
        box-shadow: 10px 5px 5px black;

        background: url('../MiWebEnGithub/images/fondoPapel.jpg');
        background-repeat: no-repeat;
    }
    ul {
        list-style-type: none;
    }

    li {
        display: block;
        border: 2px yellow ;

    }
    a {
        color: blue;
    }
}